{% extends "base.html" %}
{% load static %}


{% block content %}

<main class="main">
    <div class="page-header mt-30 mb-75">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">


                    </div>
                    <div class="col-md-4">

                    </div>

                </div>
                 <div class="row">
            <div class="col-md-12 text-center">
                 <img src="{% static 'checked.png' %}" alt=""/>
                <h3> Thank You For Your Order!</h3>
                <br>
                <h6>Your Order has been successfully placed </h6>
                <p>You will receive an order confirmation email with details of your order.</p>
                <p>Our Team Members will contact before start shipping to your address</p>
                <br>
                <a class="btn btn-primary text-center" href="#" role="button">Continue to Shopping</a>
            </div>
            </div>
            </div>
            <br> <br>

    </div>

    </div>


</main>

{% endblock content %}